name: Publish Docker for Scraper
on:
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Publish Scraper to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: jamesjarvis/whatsupkent/scraper
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.pkg.github.com
          dockerfile: Dockerfile-scraper
